/* Affect the entire document */
html {
	scroll-behavior: smooth; /* Scrolls smoothly rather than jump to sections from the navbar links */
}

/* Body */
body {
	margin: 0%; /* Page displays to edge of browser */
	opacity: 1; /* This and transition affect the fade in effect during page loading */
	transition: 3s opacity; /* Affects length of time for fade in effect */
	letter-spacing: .2vw;
	font-family: Avant Garde, Helvetica;
	font-size: 1.5vw;
}

body.fade-out {
	opacity: .1; /* Sets up opacity level at start of page load */
	transition: none;
}

/* Navbar */
.Navbar {
	overflow: hidden; /* Ensures any content overflowing beyond the boundary of navbar is not displayed */
	background-color: black;
	position: fixed; /* Keeps navbar at top of page as user scrolls */
	top: 0; /* Prevents space above the navbar */
	width: 100%; /* Makes navbar span entire width of page */
	z-index: 1; /* Ensures other elements don't display over the navbar */
	-webkit-animation: moveNav 4s; /* Safari 4.0 - 8.0 */
	animation: moveNav 4s;
}

/* Navbar text */
.Navbar a {
	float: left; /* Text floats to the left of the navbar */
	display: block; /* Text will be displayed on same line or row rather than a new line */
	color: white; /* Font color for text on navbar */
	padding: .75vw 1vw; /* Adds padding around our text */
	text-decoration: none; /* Gets rid of the underlines of text */
	font-family: Avant Garde, Helvetica;
	font-size: 1.5vw;
	text-align: center;
	position: relative;
	-webkit-animation: movenavText 4.75s; /*Safari 4.0 - 8.0*/
	animation: 4.75s;
	letter-spacing: .2vw;
}

/* Animation effect to move navbar in from left during page load */
@keyframes moveNav {
	from {
		left: -100vw;
	}
	to {
		left: 0vw;
	}
}

/* Animation effect to move navbar text in from left during page load */
@keyframes movenavText {
	from {
		top: -100vw;
	}
	to {
		top: 0vw;
	}
}

/* Animation effect to move video overlay text in from bottom during page load */
@keyframes movevideoText {
	from {
		bottom: -200vw;
	}
	to {
		bottom: 0px;
	}
}

/* Navbar hover effect */
.Navbar a:hover {
	background-color: #f4f4f4;
	color: black;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

/* Navbar home button */
.Navbar a.active {
	/* The activer selector styles a link, #Home is set to "active" class in HTML file */
	background-color: darkgray;
}

/* Video zooms out from zoomed image upon page load */
@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1.5, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* Video */
#Typing_Video {
	position: fixed; /* Fixes video to the page */
	right: 0; /* Ensures no space between edge of video and edge of page */
	bottom: 0; /* Ensures no space between edge of video and edge of page */
	min-width: 100%; /* Ensures video is displayed across the full height of the page */
	top: 0;
	z-index: -1;
	animation: zoominoutsinglefeatured 4s;
}

/* Text over the video */
.Video_Text {
	background: rgba(0, 0, 0, 0.5); /* 0.5 provides semi-transparent background for text to sit over */
	color: white;
	width: 100%;
	padding-top: .1vh; /* Adds padding around the text so background is slightly beyond text */
	padding-bottom: 1vh;
	margin-top: 23%;
	position: relative;
	-webkit-animation: movevideoText 4s; /* Safari 4.0 - 8.0 */
	animation: movevideoText 4s;
}

/* Slideshow Styling */
#Slideshow_Background {
	/* Creates slightly transparent white background placed over video */
	background: rgba(255, 255, 255, 0.35);
}

.mySlides {
	display: none;
}

@-webkit-keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

/* Slideshow Section/Container */
#Slideshow_Container {
	width: 39.5vw;
	height: auto;
	padding-top: 4%;
	position: relative;
	margin: auto;
}

/* Images contained within the slideshow */
.Slide_Show_Images {
	vertical-align: middle;
	height: auto;
	box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
	width: auto;
}

/* Next and Previous Buttons */
.Next,
.Previous {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 2vw;
	margin-top: -0vw;
	color: darkgray;
	font-weight: bold;
	font-size: 1.5vw;
	border-radius: 0 3px 3px 0;
	user-select: none;
	transition: 0.6s ease;
}

/* Position Next Button Right */
.Next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Hover Effect on Slideshow Buttons */
.Previous:hover,
.Next:hover {
	background-color: rgba(0, 0, 0, .8);
	color: white;
}

/* Slideshow Text */
.text {
	color: white;
	padding: 1vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	background-color: rgba(0, 0, 0, 0.75);
	font-weight: bold;
	border-radius: 7px 7px 7px 7px;
}

/* Slide Numbers, Must display to none so they are hidden */
.Slide_Number {
	color: white;
	position: absolute;
	top: 0;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	font-weight: bold;
	display: none;
}

/* Dots under Slideshow */
.dot {
	cursor: pointer;
	height: 1vw;
	width: 1vw;
	margin: .25vw;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6 ease;
	position: relative;
	z-index: 1;
}

/* Hover effect for Dots */
.active,
.dot:hover {
	background-color: black;
}

/* Fading Slideshow Animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* Table - Covers styling of Rows and Columns */
* {
	/* The asterisk is a universal selector that applies this effect to all elements on a page */
	box-sizing: border-box; /* Creates box with border which most text will be placed within */
}

.Column_1 {
	float: left;
	width: 50%; /* Ensure 1 column will take up half of page */
	padding: 1.6%;
	height: 400px; /* Adjust accordingly for content */
	background-color: #f2f2f2;
}

.Column_2 {
	float: left;
	width: 50%;
	padding: 1.6%;
	height: 400px;
	background-color: #4d4d4d;
}

.Row:after {
	/* Inserts something after the content of selected elements */
	content: ""; /* Allows footer to display without overwriting a column */
	display: table; /* Tells browser to treat the element as a table */
	clear: both; /* Clears any elements from floating to left or right of element */
}

/* Heading 1 elememts */
h1 {
	text-transform: uppercase;
	font-family: "Trebuchet MS", Optima;
	text-align: center;
	margin-top: 3%; /* Adds small margin above headings */
	color: #1a1a1a;
}

/* Paragraph elements */
p {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: justify;
	letter-spacing: .1vw; /* Expands text slightly */
	font-size: 1.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

/* Center align elements - embraces all centered text */
center {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: center;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

/* Anchor elements */
a {
	color: blue;
}

/* Quotation elements */
q {
	font-style: italic;
	font-weight: bold;
}

/* Image elements */
img {
	filter: grayscale(75%); /* Rids pictures of 75% of their color */
	border-radius: 8px; /* Provides slightly rounded edges */
	max-width: 100%;
	height: 100%;
	margin: auto auto auto auto;
	display: block; /* By specifying block we ensure our images are able to be centered */
}

/* Center align element hover effect */
center:hover {
	transition: transform 2s;
	transform: scale(1.1);
}

/* Paragraph element hover effect */
p:hover {
	color: #00004d;
	transition: transform 1s;
	transform: scale(1.01);
}

/* Heading 1 element hover effect */
h1:hover {
	color: black;
	font-weight: normal; /* Makes text no longer bold when hovered over */
}

/* Image hover effects */
img:hover {
	filter: grayscale(5%); /*Brings back most of the color when hovered over */
	transition: transform 1s;
	transform: scale(1.1);
}

/* Contact Form Styling */
/* Makes contact button slide into bottom from the right */
@keyframes movePopup {
	from {
		right: -40vw;
	}
	to {
		bottom: 1.75vw;
	}
}

/* Button to open contact form fixed at bottom of page */
.Pop_Up_Button {
	bottom: 1.75vw;
	right: 1.75vw;
	width: 25vw;
	background-color: white;
	color: black;
	border: solid;
	cursor: pointer;
	position: fixed;
	-webkit-animation: movePopup 4s;
	animation: movePopup 4s;
}

/* Popup Form, Hidden by default */
.form-popup {
	border: 3px solid #f0f1f0;
	z-index: 8;
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
}

/* Form Styling */
.form-container {
	max-width: 49vw;
	padding: 9px;
	background-color: white;
}

/* Input Fields */
.form-container input[type=text],
.form-container input[type=password] {
	width: 100%;
	padding: .93vw;
	margin: .6vw 0 .6vw 0;
	border: none;
	background: gainsboro;
	font-family: Helvetica, Avant Garde;
	font-size: 1vw;
}

/* Submit Button */
.form-container .btn {
	background-color: white;
	color: black;
	border-color: black;
	margin-bottom: 1vw;
}

/*Close Button */
.form-container .cancel {
	background-color: black;
	color: white;
	border-color: gray;
}

/* Button Styling */
button {
	font-family: "Trebuchet MS", Optima;
	letter-spacing: .3vw;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw 1.5vw;
	border-style: solid;
	cursor: pointer;
	width: 100%;
	height: auto;
}

/* Hover effect for buttons */
button:hover,
.form-container .btn:hover {
	color: white;
	background-color: black;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	border-style: solid;
	border-color: silver;
}

.form-container .cancel:hover {
	color: white;
	background-color: darkred;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	border-style: solid;
	border-color: black;
}

/* Footer element */
footer {
	padding: 2%;
	background-color: white;
}
